@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@theme {

  --color-light-grey: #F7F7F7;
  --color-mid-grey: #2E2E2E;
  --color-dark-grey: #242424;
  --color-spoti-green: #4AC155;
  --color-dark-green: #35833C;

  --font-DM-sans: "DM Sans", sans-serif;

}




